.navbar-menu > a {
  transition: 0.3s padding ease-in-out;
}

.solid {
  transition: background-color 0.5s ease 0s;
}

.Logo {
  background-image: url(../assets/logo.png);
  background-size: 64px 44px;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

nav,
button .bars,
.container {
  transition: 0.3s linear;
}

.stick {
  @apply bg-black py-2 opacity-70;
  transition: 0.3s linear;
}

#Home {
  height: 100vh;
  min-height: 500px;
  background: url(../assets/home.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#Home .content h1::after {
  animation: textanim 9s linear infinite;
}

.sm a {
  transition: 0.2s linear;
}

#About {
  background: url(../assets/about.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.divider {
  max-width: 44px;
}

.about-pic {
  transition: 0.1s linear;
}

#Experiences {
  background: url(../assets/experience.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.timeline-box-left {
  @apply py-2 px-5 table relative mb-8 -mr-6 ml-auto z-30;
  box-shadow: -15px 15px 23px 1px rgba(216, 174, 127, 42%);
}

.timeline-box-right {
  @apply py-2 px-5 table relative mb-8 -mr-3 -ml-4 z-30;
  box-shadow: 15px 15px 23px 1px rgba(216, 174, 127, 42%);
}

.box-circle-l {
  box-shadow: 0px 0px 1px 5px rgba(213, 213, 213, 0.4);
  margin-right: -52px;
}

.box-circle-r {
  box-shadow: 0px 0px 1px 5px rgba(213, 213, 213, 0.4);
  left: -52px;
}

.box-tale-l {
  top: 50px;
  transform: rotate(-135deg);
  transform-origin: 0 0;
  border-color: transparent transparent #fff #fff;
  border: 6px solid rgba(216, 174, 127, 42%);
  box-shadow: 0 0 23px 1px rgba(216, 174, 127, 42%);
}

.box-tale-r {
  left: -0.1px;
  top: 50px;
  transform: rotate(-135deg);
  transform-origin: 0 0;
  border-color: transparent transparent #fff #fff;
  border: 6px solid rgba(216, 174, 127, 42%);
  box-shadow: 0 0 23px 1px rgba(216, 174, 127, 42%);
}

.exp-timeline::after {
  @apply md:left-1/2;
  position: absolute;
  top: 100px;
  display: block;
  content: " ";
  width: 5px;
  height: 80%;
  margin-left: -2.5px;
  margin-top: 56px;
  z-index: 5;
  border-radius: 5px;
  background: rgba(172, 172, 172, 0.4);
  transition: 0.3s linear;
}

hr {
  border-color: #d5ae7f;
}

.project {
  transition: 0.3s linear;
}

#Project {
  height: 700px;
  min-height: 500px;
  background: url(../assets/pro.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#Education {
  height: 650px;
  min-height: 500px;
  background: url(../assets/edu.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.hideme {
  opacity: 0;
  color: #fff;
}

.hidemid {
  opacity: 0;
}

.hides {
  opacity: 0;
}

#Skills {
  height: 100%;
  min-height: 500px;
  background: url(../assets/skill.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.ski-row {
  background-size: cover;
  background-position: 50% 50%;
}

.ski-col.tm {
  @apply rounded-lg;
  background: url(../assets/code.png) no-repeat rgb(36, 36, 36, 0.7);
  background-size: 150px 120px;
  background-position: right top;
}

.ski-col.tr {
  @apply rounded-lg;
  background: url(../assets/js.png) no-repeat rgb(36, 36, 36, 0.7);
  background-size: 150px 120px;
  background-position: right top;
}

.ski-col.tl {
  @apply rounded-lg;
}

.ski-col.bm {
  @apply rounded-lg;
  background: url(../assets/tool.png) no-repeat rgb(36, 36, 36, 0.7);
  background-size: 150px 120px;
  background-position: right top;
}

.ski-col.br {
  @apply rounded-lg;
  background: url(../assets/dot.png) no-repeat rgb(36, 36, 36, 0.7);
  background-size: 150px 120px;
  background-position: right top;
}

.ski-col.bl {
  @apply rounded-lg;
  background: url(../assets/python.png) no-repeat rgb(36, 36, 36, 0.7);
  background-size: 150px 120px;
  background-position: right top;
}

.ski-col a {
  fill: #fff;
}

.ski-item .content {
  @apply my-1;
}

#Abilities {
  height: 100%;
  min-height: 750px;
  background: url(../assets/abi.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.abi-item::after {
  position: relative;
  top: -25px;
  display: inline-block;
  content: " ";
  width: 95%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to left,
    rgba(213, 174, 127, 0.9),
    transparent,
    transparent,
    rgba(213, 174, 127, 0.9) 100%
  );
}

.abi-item.odd::after {
  position: relative;
  top: -25px;
  display: inline-block;
  content: " ";
  width: 95%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to left,
    rgba(212, 212, 212, 0.9),
    transparent,
    transparent,
    rgba(212, 212, 212, 0.9) 100%
  );
}

.info > .board::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background-color: #d5ae7f;
  border-radius: 10px;
  bottom: 3px;
  left: -24px;
  animation: trans 1.1s linear infinite;
  opacity: 0;
  z-index: 999;
}

.info > .board > a > span {
  display: inline-block;
  animation: wave 1.1s linear infinite;
}

.info > .board > a > span:nth-child(2) {
  animation-delay: 50ms;
}
.info > .board > a > span:nth-child(3) {
  animation-delay: 100ms;
}
.info > .board > a > span:nth-child(4) {
  animation-delay: 150ms;
}
.info > .board > a > span:nth-child(5) {
  animation-delay: 200ms;
}
.info > .board > a > span:nth-child(6) {
  animation-delay: 250ms;
}
.info > .board > a > span:nth-child(7) {
  animation-delay: 300ms;
}
.info > .board > a > span:nth-child(8) {
  animation-delay: 350ms;
}
.info > .board > a > span:nth-child(9) {
  animation-delay: 400ms;
}
.info > .board > a > span:nth-child(10) {
  animation-delay: 450ms;
}
.info > .board > a > span:nth-child(11) {
  animation-delay: 500ms;
}
.info > .board > a > span:nth-child(12) {
  animation-delay: 550ms;
}

@keyframes wave {
  50% {
    transform: translateY(-8px);
  }
}

@keyframes trans {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: calc(100% + 12px);
  }
}

@keyframes textanim {
  33% {
    content: "A Developer";
  }
  67% {
    content: "A Student";
  }
}

@screen p {
  #About {
    min-height: 500px;
  }
}

@screen -owl-lg {
  .pro-img {
    @apply w-36 h-36;
  }
  .pro-item {
    height: 450px;
  }
  .ski-row {
    @apply block px-20 m-0;
  }
  .ski-col {
    @apply w-full mx-0 py-4 my-8;
    transition: 0.3s linear;
  }
  .itemGroup {
    @apply flex justify-between items-center;
  }
  .ski-item {
    @apply w-4/12;
  }
}

@screen -md {
  .inner-width > .active {
    @apply fixed h-screen w-1/3 bg-black top-0 pr-16 py-24 opacity-70;
    transition: 0.3s linear;
  }
  .inner-width > .active {
    right: -100%;
  }
  .navbar-menu > .active {
    @apply block text-base my-7;
  }
  .close span {
    @apply even:opacity-0 first:top-1.5 first:-rotate-45 last:bottom-1.5 last:rotate-45;
    transition: 0.3s linear;
  }
  #About > .inner-width > .about-content {
    @apply justify-around;
  }
  .about-text > h2 {
    @apply my-5 text-center;
  }
  #About > .inner-width > .divider {
    @apply mb-0;
  }
  #About {
    min-height: 100%;
  }
  .timeline-item {
    @apply px-2 pr-16 float-right mb-8 -mr-3 ml-auto w-10/12;
    transition: 0.3s linear;
  }
  .container {
    @apply mt-0 md:w-1/2 relative pr-10 pl-0 text-left timeline-box-left w-full;
  }
  .box-circle-l {
    @apply bg-golden w-5 h-5 absolute top-4 rounded-full mt-4 z-10;
    left: -15.5%;
  }
  .box-circle-r {
    left: -20.5%;
  }
  .box-tale-l {
    @apply content-[''] absolute w-0 h-0 box-border left-0;
  }
  .box-date-l {
    @apply text-left left-5 absolute text-golden text-sm top-8 w-full;
  }
  .exp-timeline::after {
    margin-left: 63px;
    transition: 0.3s linear;
  }
  .timeline-box-left {
    @apply py-2 px-5 table relative mb-8 -mr-6 ml-auto z-30;
    box-shadow: 15px 15px 23px 1px rgba(216, 174, 127, 42%);
  }
  .about-pic {
    @apply w-20;
    transition: 0.1s linear;
  }
}

@screen -sd {
  .exp-timeline::after {
    display: none;
    transition: 0.3s linear;
  }
  .box-circle-l,
  .box-circle-r {
    display: none;
    transition: 0.3s linear;
  }
  .timeline-item {
    @apply w-full;
    transition: 0.3s linear;
  }
  .abi-group {
    @apply flex-col items-center my-10;
    transition: 0.3s linear;
  }
  .abi-item {
    @apply w-64 h-72 my-2;
    transition: 0.3s linear;
  }
  .abi-item .italic {
    @apply mt-20;
  }
  .itemGroup {
    @apply inline-block w-full;
  }
  .ski-item {
    @apply w-full;
    transition: 0.3s linear;
  }
  .ski-item i {
    @apply w-1/4;
  }
  .ski-item p {
    @apply w-1/2;
  }
}

@screen -s {
  .inner-width > .active {
    @apply w-screen;
  }
  .navbar-menu > .active {
    @apply flex justify-center ml-20;
  }
  .more .tech {
    @apply opacity-0;
  }
  .abi-group {
    @apply mt-20;
  }
  .abi-item {
    @apply bg-transparent my-0;
    transition: 0.3s linear;
  }
  .abi-item p {
    @apply text-neutral-300;
  }
  .abi-item.odd p {
    @apply text-golden;
  }
  .fa-medal {
    @apply text-neutral-300;
  }
  .odd.fa-medal {
    @apply text-golden;
  }
  .abi-item::after {
    background: linear-gradient(
      to left,
      rgba(212, 212, 212, 0.9),
      transparent,
      transparent,
      rgba(212, 212, 212, 0.9) 100%
    );
  }
  .abi-item.odd::after {
    background: linear-gradient(
      to left,
      rgba(213, 174, 127, 0.9),
      transparent,
      transparent,
      rgba(213, 174, 127, 0.9) 100%
    );
  }
  p.type {
    @apply my-6;
  }
  .abi-item .italic {
    @apply mt-4;
  }
}

@screen -p {
  .box-date-l {
    writing-mode: vertical-rl;
  }
  .box-date-r {
    writing-mode: vertical-rl;
  }
  .inner-width {
    padding: 0 20px;
  }
}

@screen -ss {
  .ski-row {
    @apply p-0;
  }
  .ski-item {
    transition: 0.3s linear;
  }
}
